.modal-container {
  height: 300px;
  flex-grow: 1;
  min-width: 300px;
  display: none;
}

.modal {
  display: flex;
  padding: 20%;
  align-items: center;
  justify-content: center;
}

.modal-body {
  width: 300px;
  background: #fff;
  padding: 20%;
}
