.app {
  padding: 2% 10%;
}

.MuiSvgIcon-root.social-icons {
  height: 15px;
}

.modal {
  display: flex;
  padding: 5%;
  align-items: center;
  justify-content: center;
}

.modal-body {
  width: 300px;
  background: #fff;
  padding: 5%;
}
